.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px;
}

.ui-timepicker-div dl {
    text-align: left;
}

.ui-timepicker-div dl dt {
    float: left;
    clear: left;
    padding: 0 0 0 5px;
}

.ui-timepicker-div dl dd {
    margin: 0 10px 10px 40%;
}

.ui-timepicker-div td {
    font-size: 90%;
}

.ui-tpicker-grid-label {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.ui-timepicker-rtl {
    direction: rtl;
}

.ui-timepicker-rtl dl {
    text-align: right;
    padding: 0 5px 0 0;
}

.ui-timepicker-rtl dl dt {
    float: right;
    clear: right;
}

.ui-timepicker-rtl dl dd {
    margin: 0 40% 10px 10px;
}

#dateSelector {
    margin-top: 12px;
}

#content {
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
}

#sky {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.31);
    overflow: hidden;
}

.nightSky {
    background: rgb(19, 37, 53);
}

.daySky {
    background: #C4DDF2;
}

.ui-rotatable-handle {
    height: 50px;
    width: 50px;
    cursor: pointer;
    background-image: url(../img/rotate.jpeg);
    background-size: 100%;
    bottom: 50px;
    position: relative;
}

#timemachine {
    color: rgb(55, 35, 35);
}

.timeFwdBtn {
    background-image: url(../img/fast-forward.png);
    background-position: 7px 7px;
    height: 50px;
    width: 50px;
    padding: 10px;
    background-repeat: no-repeat;
}

.timeBackBtn {
    background-image: url(../img/rewind.png);
    background-position: 7px 7px;
    height: 50px;
    width: 50px;
    padding: 10px;
    background-repeat: no-repeat;
}

#speedlabel {
    float: right;
}

.timePlayBtn {
    background-image: url(../img/play.png);
    background-position: 7px 7px;
    height: 50px;
    width: 50px;
    padding: 10px;
    background-repeat: no-repeat;
}

.timePauseBtn {
    background-image: url(../img/pause.png);
    background-position: 7px 7px;
    height: 50px;
    width: 50px;
    padding: 10px;
    background-repeat: no-repeat;
}

.timeBtnContainer {
    background: rgba(199, 193, 193, 0.35);
    text-align: center;
    /*width: 220px;*/
}


#lat_long_submit {
    margin: 0px;
}


@media screen and (max-width: 480px) {
    #timemachine {
        position: relative;
    }

}

@media screen and (max-width: 850px) {
    #timemachine {
        text-align: center;
    }
}

